* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;
}

body {
    font-family: 'lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.btn-large {
    font-size: 2rem;
    padding: 2.4rem 1.6rem;
}
.btn {
    margin-top: 4rem;
    
    
    font-weight: 400;
    display: inline-block;
    
    border:2px solid transparent;
    
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;

}
.btn-social {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
    }
.btn-outline {
    color:#fff;
    border-color: #fff;
    background-color: transparent;
    
}
.btn-outline:hover {
    color:#212529;
    background-color:#fff;
    
}
.btn-primary {
    background-color: #18BC9C;
    border-color: #18BC9C;
    padding: 2rem 1rem;
    color: #fff;
}
.btn-primary:hover {
    
    background-color:#128f76;
    border-color: #128f76;
    
}


ul {
    list-style: none;
}
section{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float:left;
    width: 100%;
    padding: 1rem;
    
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
}
    html {
        font-size: 7px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
}
html {
    font-size: 8px;
}
.col {
    
    width: 50%;
    
    
}

}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    html {
        font-size: 9px;
    }
    .col {
        
        width: 33.33333%;
        
        
    }
   
    
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    html {
        font-size: 10px;
    }
    
}

.text-uppercase {
    text-transform: uppercase;
}

/*navbar*/

nav {
    width: 100%;
    font-family: Montserrat;
    background-color: #2C3E50;
    color: #fff;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: .5rem;
}

#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: .4rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
}

#nav-links .nav-link:hover {
    color: #18bc9c;
}
#nav-links .nav-icon {
    display: none;
}
@media(max-width: 992px){
    #logo-box{
        float: none;
        text-align: left;
    }
    #nav-links  {
        float: none;
    }
    #nav-links.responsive li:not(:first-child){
        display: none;
    }
    #nav-links .nav-link{
        font-size: 2rem;
        padding-left: 0;
    }
    #nav-links .nav-item{
        float: none;
        text-align: left;
    }
    #nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 3rem;
    }

}
/*Header*/

header {
    background-color: #18BC9C;
    padding-top: calc(120px + 10rem);
    padding-bottom: 112px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 5rem;
}

header h2 {
    color: #fff;
    font-size: 2.8rem;
    font-family: 'Lato';
    font-weight: 300;
}

hr.star-light{
border-color:#fff;
}
hr.star-dark{
border-color: #2C3E50;
}
.star-light,.star-dark {
    border: none;
    border-top: 0.4rem solid;
    max-width: 25rem;
    margin: 3rem auto;
    padding: 5px;
    overflow: visible;
    height: 0;
}
.star-light::after{
    background-color: #18BC9C;
    color:#fff;
}
.star-dark::after{
    background-color:#fff ;
    color: #2C3E50;
}

.star-light::after,.star-dark::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    
font-weight: 900;
    font-size: 3rem;
    position: relative;
    padding: 0 8px;
    top: -3rem;
    
}

/*portfolyo*/

#portfolyo {
    
    
}

#portfolyo h2 {
    font-size: 4.8rem;
    color: #2C3E50;
}


.portfolyo-item {
    position: relative;
}
.portfolyo-item img {
    display: block;
}
.img-overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #18BC9C;
    opacity: 0;
    transition:opacity .5s ease;
}
.img-overlay .icon {
color: #fff;
font-size: 2rem;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.portfolyo-item:hover .img-overlay{
    opacity: .75;
}

/*about*/
#about {
    background-color: #18BC9C;
    color : #fff;
}
#about h2{
    font-size: 4.8rem;
}

#about-text {
    text-align: left;
}

#about-text .left{
float: none;
width:100%;
padding-right: 5px;
padding-left: 25px;
}
#about-text .right{
    float: none;
    width:100%;
    padding-left: 25px;
    padding-right: 5px;
}
#about-text .text {
    font-size: 2rem;
}

@media (min-width:992px){
    #about-text .left{
        float: left;
        width:50%;
        padding-right: 10px;
        padding-left: 210px;
        }
        #about-text .right{
            float: right;
            width:50%;
            padding-left: 210px;
            padding-right: 10px;
        }

}

/*contact*/
#contact{
    
}
#contact h2 {
    font-size: 4.8rem;
    color: #2C3E50;
}
#contact-form {
    width:70%;
    margin: 0 auto;
    text-align: left;
    
}
.form-group {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    
}
.form-group input,.form-group textarea {
    border: none;
    width: 100%;
    display: block;
    font-size: 2.4rem;
}
.form-group input:focus,.form-group textarea:focus {
    outline: 0;
}

/*footer*/
footer{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #2C3E50;
    color:#fff;
    text-align: center;
}
footer h4{
    font-size: 2.4rem;
}
footer p{
    font-size: 2rem;
    margin-top: 1rem;
}
footer li{
    display: inline-block;
    margin-right: 1rem;
}
.copyright{
    background-color: #1A252F;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: #fff;
    text-align: center;
}